matplotlib
networkx
numpy
scikit-learn

urllib3

# Pytorch (on CPU):
--extra-index-url https://download.pytorch.org/whl/cpu
torch 
torchvision 
torchaudio

tqdm 
mlflow 

#torch geometric
--extra-index-url https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric 